body {
    background-color:black;
    font-family:Arial;
    color:white
}
h1{
    color:grey;
    font-family: Verdana
}
.maindiv {
    background-color:white;
    color:black;
    width: 500px; /* instead 300px for good appearance*/
    padding: 20px;
    border-radius: 25px;
	margin: 0 auto;

}
p{
	margin-left:40px;
}/* included to improve appearance*/

